.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1020px) {
  .cardsContainer {
    flex-direction: row;
  }
}
