.card {
  border: 4px solid black;
  border-radius: 20px;
  height: 450px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.heroImage {
  width: 300px;
  height: 305px;
  border-radius: 11px 11px 0 0;
  z-index: -1;
}

.heroName {
  width: 300px;
  text-align: center;
  border: 1px solid purple;
  box-shadow: 0px 0px 5px 5px purple;
  margin-bottom: 20px;
  margin-top: 0px;
}

/* box-shadow: 0px 0px 5px 5px purple; while hovering over */

.heroStats {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-bottom: 10px;
}
